# Ignore node modules and pnpm store
node_modules
**/node_modules
.pnpm
.pnpm-store
.pnpm-debug.log

# Git and editor configs
.git
.vscode

# Build outputs
dist
build
out
.tmp
.next
.cache
.env
.env.*
.turbo


# Docker
.dockerignore
Dockerfile*
docker-compose.yml

# Logs
*.log
.DS_Store