@use "@styles/mixins" as mixins;
@use "@styles/functions" as functions;

.logo {
  font-size: functions.rem(18px);
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: hsl(var(--foreground));

  &__glow {
    @include mixins.glow-text;
  }
}
