@use "@styles/base";

.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6));
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6));
  }
}

.spin {
  animation: logo-spin 20s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2rem;
}

.docs {
  color: #888;
}
