@mixin animate(
  $name,
  $duration: 3s,
  $timing: ease-in-out,
  $iteration: infinite,
  $delay: 0s
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $iteration;
  animation-delay: $delay;
}
