@use "theme-colors";
@use "design-tokens" as tokens;

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* ================= RESET ================= */

:root {
  font-size: #{tokens.$base-font-size};
}

* {
  box-sizing: border-box;
  border-color: hsl(var(--border));
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

/*  Remove horizontal scrolling in some mobile browsers */
body,
html {
  overflow-x: hidden;
}
